{% extends 'base.html.twig' %}

{% block title %}Hello VocabulaireController!{% endblock %}

{% block content %}
<div class="container-fluid">
		<div class="row justify-content-center">
			<h1 class="text-center text-primary p-4">
				Ajouter un Vocabulaire
			</h1>
		</div>
{{ form_start(form) }}
				<div class="form-group mx-auto text-center w-25 p-3">
					{{ form_label(form.libelle, 'Libelle : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}
					) }}
					{{ form_label(form.libelle_en, 'Libelle Anglais : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.libelle_en, {'attr': {'class': 'form-control'}}
					) }}
					{{ form_label(form.niveau, 'Niveau : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.niveau, {'attr': {'class': 'form-control'}}
					) }}
					
                   
				
                
				{{ form_widget(form.ajouter, { 'label': "Ajouter", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }} 
				{{ form_end(form) }}
				</div>
{% endblock %}
