{% extends 'base.html.twig' %}
{% block title %}Innov'Anglais - Modifier un utilisateur{% endblock %}
{% block content %}
<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Modifier un utilisateur</h1>
        </div>
          <div class="form-group mx-auto text-center w-25 p-3 text-primary">
{{ form_start(form) }}
                
                    {{ form_label(form.nom, 'Nom: ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}
					) }}
                
                
                    {{ form_label(form.prenom, 'Votre prenom: ', {'label_attr': {'class': 'font-weightbold'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                
                
                    {{ form_label(form.datedenaissance, 'Votre date de naissance: ', {'label_attr': {'class': 'font-weightbold'}}) }}
                    {{ form_widget(form.datedenaissance, {'attr': {'class': ''}}) }}
                
                    {{ form_label(form.email, 'Email:', {'label_attr': {'class': 'font-weightbold'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                
                
                    <br>    
                
                
                    {{ form_widget(form.modifier, { 'label': "Modifier", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}
                
                {{ form_end(form) }}
{% endblock %}