{% extends 'base.html.twig'%}
{% block title %}Innov'Anglais - Liste des tests{% endblock %}
{% block content%}
<div class="container-fluid">
            <div class="row justify-content-center">
                <h1 class="text-center text-primary p-4">Liste des tests</h1>
            </div>
            
            
            <div class="row justify-content-center">
                <div class="col-8 p-4 m-0 text-primary">
                    <div class="table-responsive">
                        <table class="table table-hover" style="border:1px solid black;">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="col">
                                        Niveau
                                    </th>
                                    <th scope="col">
                                        Libelle
                                    </th>
                                    <th scope="col">
                                        Modifier
                                    </th>
                                    <th scope="col">
                                        Supprimer
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for test in test %}
                                    <tr class="{{ cycle(['table-primary'], loop.index0) }}">
                                        <td>
                                            {{test.niveau }}
                                        </td>
                                        <td>
                                            {{test.libelle |capitalize }}
                                        </td>
                                        <td>
                                            <a href="{{ path('modif-test',{'id': test.id}) }}" class="text-white">
                                                <span class="material-icons" title="Modifier le test">
                                                    create
                                                </span>
                                            </a>
                                            
                                        </td>
                                        <td>
                                            <a href="{{path('liste-test',{'supp':test.id})}}" class="text-white">
											<span class="material-icons" title="Supprimer le test">
												delete
											</span>
										</a>
                                        </td>

                                    </tr>
                              
                                {% endfor %}
                            </tbody>
                        </table>
                              {% for nombre in nombreTestPasse %}
								<p> Il y a {{nombre.nombre }} test créé. </p>
								
								
					{% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock%}