<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/css.css">
		<title>
			{% block title %}
				Innov'Anglais
			{% endblock %}
		</title>
	</head>
	<body style="background-color: #F0F0F0">
		{% block body %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="{{path('index')}}">
					<img src="../images/logo_small.png" alt="logo" style="width: 5em; height:2.4em; margin-right: 0.5em">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav mr-auto">
						<li>
							<a class="nav-link" href="{{ path('listeutilisateurs') }}">
								Liste des utilisateurs
							</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
								Thème
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('ajout_theme') }}">
									Ajouter un thème
								</a>
								<a class="dropdown-item" href="{{ path('theme') }}">
									Liste des thèmes
								</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
								Catégorie
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('ajout_categorie') }}">
									Ajouter une catégorie
								</a>
								<a class="dropdown-item" href="{{ path('categorie') }}">
									Liste des catégories
								</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
								Abonnement
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('ajout_abonnement') }}">
									Ajouter un abonnement
								</a>
								<a class="dropdown-item" href="{{ path('abonnement') }}">
									Liste des abonnements
								</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
								Test
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('test') }}">
									Ajouter un test
								</a>
								<a class="dropdown-item" href="{{ path('liste-test') }}">
									Liste des tests
								</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
								Vocabulaire
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('vocabulaire') }}">
									Ajouter un vocabulaire
								</a>
								<a class="dropdown-item" href="{{ path('liste-vocabulaire') }}">
									Liste des vocabulaires
								</a>
							</div>

							<li>
							<a class="nav-link" href="{{ path('statistiques') }}">
								Statistiques
							</a>
						</li>


						</li>
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_login')}}">
									Se connecter
								</a>
							</li>

						{% else %}
							<li>
								<a class="nav-link" href="http://serveur1.arras-sio.com/symfony4-4057/PpeInov/public/api/">
									API
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_logout')}}">
									Se déconnecter
								</a>
							</li>
						{% endif %}


					</ul>

				</div>
			</nav>


			{% for message in app.flashes('notice') %}

				<div class="flash-notice">
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						<strong>
							{{ message }}
						</strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>

				</div>

			{% endfor %}
		</body>
	</html>
</ul></div></nav>{% for message in app.flashes('notice') %}<div class="flash-notice">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>
		{{ message }}
	</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">
			&times;
		</span>
	</button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert"></div>
</div>
{% endfor %}
{% endblock %}
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script><script type="text/javascript" src={{asset("js/ajax.js")}}></script></body></html>
