{% extends 'base.html.twig' %}
{% block title %}{{ parent()}} - Ajouter un thème{% endblock %}
{% block content %}

<div class="container-fluid">
		<div class="row justify-content-center">
			<h1 class="text-center text-primary p-4">
				Ajouter un thème
			</h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-8 p-4 m-0 text-primary">
				{{ form_start(form) }}
				<div class="form-group mx-auto text-center w-25 p-3">
					{{ form_label(form.libelle, 'Libelle : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}
					) }}
					<br>
                   {{ form_label(form.vocabulaire, 'Vocabulaire : ', {'label_attr': {'class': 'font-weightbold'}}
					) }}
					{{ form_widget(form.vocabulaire, {'attr': {'class': 'form-control'}}
					) }}
				</div>
                <div class="form-group mx-auto text-center w-25 p-3">
				{{ form_widget(form.Ajouter, { 'label': "Ajouter", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}